<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @morning_slot.name %>
</p>

<%= link_to 'Edit', edit_morning_slot_path(@morning_slot) %> |
<%= link_to 'Back', morning_slots_path %>
